.browse {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}
.browse-search {
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    font-size: 25px;
}
