.chart-component {
    position: relative;
    height: 350px;
    width: 90%;
    -webkit-box-shadow: -4px 7px 15px 5px rgba(0,0,0,0.86); 
    box-shadow: -4px 7px 15px 5px rgba(0,0,0,0.86);
    border: 1px solid gray;
    margin-bottom: 20px;
}
.chart {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
}
.chart-stock-name {
    margin: 0px;
}
.no-data-error {
    color: red;
}
.chart-period-options {
    border: 1px solid gray;
    border-radius: 4px;
    position: relative;
}
.chart-period-options button {
    background: none;
    border: none;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    height: 100%;
}
.chart-period-options button:hover {
    font-size: 20px;
    border: none !important;
}
.first-period-button {
    border-left: none !important;
}
.last-period-button {
    border-right: none !important;
}

@media screen and (max-width: 600px) {
    .chart-component {
        height: 250px !important;
        width: 95% !important;
    }
    .chart {
        height: 80%;
    }
}
