.chart-component {
    position: relative;
    height: 40%;
    width: 90%;
    -webkit-box-shadow: -4px 7px 15px 5px rgba(0,0,0,0.86); 
    box-shadow: -4px 7px 15px 5px rgba(0,0,0,0.86);
    border: 1px solid gray;
    margin-bottom: 20px;
}
.chart {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.chart-stock-name {
    margin: 0px;
}

@media screen and (max-width: 600px) {
    .chart-component {
        height: 20% !important;
        width: 95% !important;
    }
}
