.navbar {
    position: absolute;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #00a7e1;
}
.navbar a {
    text-decoration: none;
    color: white;
}
.logo {
    display: block;
    float: left;
}
.logo-text {
    margin: 20px 30px;
}
